body {
}

#container {
background: aquamarine; /* fallback for old browsers */
padding-top: 20px;
};

header {
    padding-top: 40px;
	padding-bottom: 40px;
}

#side-buttons a, #newBoard {


    border:inherit 0px #000000;
    -moz-border-radius-topleft: 75px;
    -moz-border-radius-topright:75px;
    -moz-border-radius-bottomleft:75px;
    -moz-border-radius-bottomright:75px;
    -webkit-border-top-left-radius:75px;
    -webkit-border-top-right-radius:75px;
    -webkit-border-bottom-left-radius:75px;
    -webkit-border-bottom-right-radius:75px;
    border-top-left-radius:75px;
    border-top-right-radius:75px;
    border-bottom-left-radius:75px;
    border-bottom-right-radius:75px;


}

#board {
	margin-bottom: 40px;
	background-color: snow;
    -moz-box-shadow: 6px 15px 39px #000000;
    -webkit-box-shadow: 6px 15px 39px #000000;
    box-shadow: 6px 15px 39px #000000;
    border:none 2px #000000;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#board ul {
	list-style-type: square; 
}

.small-1 .columns {
    padding: 0px;
}

